.metadata/
Basics/**/*.class
Basics/**/*.log
Basics/target/
Basics/.idea/
Basics/project/target/
dmasrh-koans/**/*.jar
dmasrh-koans/**/.hg*
dmasrh-koans/.idea/
dmasrh-koans/ivyrepo/
dmasrh-koans/project/project/**
dmasrh-koans/project/target/**
dmasrh-koans/sbtboot/**
dmasrh-koans/target/**
